


.personal-info
{
    border:2px solid black;
    border-radius: 20px;
    box-shadow:  5px 5px 30px  green;

}

.description input
{
    height:100px;
}

.file-input
{
    border:1px solid black;

}

.file-input::before{
    content:"Photo";
    font-size:20px;
    margin-left:5px;
    color:#555;
}
