*{
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');


body
{

    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;

    margin:0;

}

.shelf
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:10px;
}

.book
{
    border:2px solid green;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:250px;
    width:300px;
    padding:20px;
    border-radius: 20px;
}

p
{
    padding:0;
    margin: 0;
}

.read_status.not_read
{
    width:150px;
    height:40px;
    background-color: yellow;
    border:0;
    font-size:30px;
    border-radius: 20px;
    cursor: pointer;
}

.read_status.read
{
    width:120px;
    height:40px;
    background-color: greenyellow;
    border:0;
    font-size:30px;
    border-radius: 20px;
    cursor: pointer;
}


.form-control input
{
    border:2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    padding:5px;
    font-size:14px;
    margin:0px;

}

.form-control input:focus
{
   outline: none;
   scale: 1.2;

}

form
{
    border: 2px dotted green;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

h3
{
    margin:5px;
    text-align: center;
}

.status
{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:188px;
}

small
{
    margin-bottom: 0px;;
}
